.categories{

  .categorie-box{
    text-align: center;
    margin-bottom: 20px;
    background-color: $color1;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    a{
      text-decoration: none;
      display: block;
      font-family: $fonts;
      color: $textColor;
      margin-top: 10px;
      font-weight: 500;
    }
    img{
      width: 60px !important;
      padding: 10px;
      border-radius: 8px;
      transition: .5s;
      text-align: center;
      margin: 0 auto;
    }
  &:hover {
    background-color: $colorPrincipale;
    img{
      transform: rotate(360deg);
    }
  }
  }
}
