
header {
    padding: 15px;
    min-height: 90px;
  .toggle-sidebar, .close-sidebar{
    cursor: pointer;
    display: none;
    @media #{$breakpoint-lg-md} {
      display: block;
      width: 40px;
    }
  }
  .notification-2 {
    margin-top: 10px;
    @media #{$breakpoint-xs} {
      margin: 0;
      display: none;
    }
  }
  .notification{
    float: right;
    .fa-bell{
      margin-left: 5px;
    }
    .dropdown-notification{
      min-width: 400px;
      border: none;
      box-shadow: 0 1px 8px #d6d4d4;
      margin-top: 13px;
      border-radius: 0;
      padding: 0;
      top: 13px !important;
      left: 16px !important;
      &:before{
        position: absolute;
        content: '';
        right: 10px;
        top: -16px;
        border-style: solid;
        border-width: 8px;
        border-color: transparent transparent $colorPrincipale transparent;
      }
    }
    .notif-header{
      padding: 15px;
      border-bottom: 1px solid #e6e8ec;
      background-color: $colorPrincipale;
      color: $whiteColor;
      .number-notif {
        float: right;
        background-color: $whiteColor;
        color: $colorPrincipale;
        border-radius: 50px;
        padding: 0 7px;
        font-weight: 700;
        font-size: 13px;
      }
    }
    .notif-content{
      padding: 25px;
      border-bottom: 1px solid #e6e8ec;
      li {
        font-size: 13px;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        i{
          width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: $colorPrincipale;
          text-align: center;
          border-radius: 20px;
          color: $whiteColor;
        }
        span{
          margin-left: 10px;
        }
      }
    }
    .notif-footer{
      padding: 15px;
      a{
        display: block;
        font-size: 14px;
        color: $colorPrincipale;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }

// user notification

  .notification-user{
    @media #{$breakpoint-xs} {
      min-width: 190px
      }
    .dropdown-notification{
      min-width: 300px;
      top: 0 !important;
      &:before{
        right: 52px;
      }
    }
    .box-user {
      display: flex;
      min-width: 300px;
      justify-content: space-evenly;
      align-items: center;
    }
    .img-user {
      img {
        width: 50px;
        border-radius: 50px;
      }
    }
    .text-user {
      font-size: 13px;
    }
    .notif-content img {
        width: 40px;
        border-radius: 50px;
    }
    .notif-footer {
      .notif-link {
        border-right: 1px solid rgba($textColor, .3);
        padding: 0;
        &:last-child{
          border: none;
        }
        i {
          transition: .3s;
          display: block;
          &:hover {
            color: $colorPrincipale;
          }
        }
      }
    }
  }

}
