.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100px;
  height: 100%;
  background-color: $color1;
  transition: .3s;
  .logo{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: $colorPrincipale;
  }
  .links-menus{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    li{
      margin-bottom: 25px;

      a{
        font-family: $fonts;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $textColor;
        text-decoration: none;
        &:hover img {
          background-color: #df5d51;
          border-radius: 10px;
        }
        img{
          width: 60px;
          background-color: $color2;
          padding: 15px;
          margin-bottom: 10px;
          border-radius: 20px;
          transition: .3s ease-in;
        }
      }
    }
  }
  &.no-sidebar{
    left: -100px;
    width: 100px;
    @media #{$breakpoint-lg-md} {
      left: 0;
    }
    .logo{
      font-size: 12px;
    }
    li {
      a{

        i{

        }
      }
    }
  }
}
