.slider {

  @media #{$breakpoint-md}{
    background-image: url(/images/slider/slide2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 65% center;
    border-radius: 20px;
  }
  @media #{$breakpoint-xs}{
    background-image: url(/images/slider/slide2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }
  .banner-home{
    display: none !important;
    @media #{$breakpoint-lg-md}{
      display: block !important;
    }
}
}
.owl-carousel.banner-home {
  .owl-item{
    img{
      border-radius: 20px;
    }
  }
  .owl-dots {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(90deg);
    .owl-dot{
      &.active{
        span{
          background: $colorPrincipale !important;
        }
      }
      &:focus{
        outline: none;
      }
    }
  }
  .item {
    position: relative;
    font-family: $fonts;
    .desc-owl {
      position: absolute;
      max-width: 550px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      padding: 0 40px;
      .sub-title{
        font-weight: 700;
        text-transform: uppercase;
        color: $whiteColor;
        letter-spacing: 3px;
      }
      .btn-tag{
        margin-bottom: 15px;
        a{
          margin-right: 25px;
          color: $whiteColor;
          font-size: 14px;
          border: 1px solid;
          padding: 2px 10px;
          border-radius: 4px;
          text-decoration: none;
          transition: .3s;
          &:hover{
            color: $colorPrincipale;
          }
        }
      }
      .text-desc{
        h1{
          font-size: 45px;
          font-weight: 700;
          color: $whiteColor;
        }
        .label-desc{

          span{
            color: $whiteColor;
            margin-right: 25px;
            font-size: 14px;
          }
        }
        .text-long{
          color: $whiteColor;
          margin-bottom: 50px;
        }
        .btn-carousel{
          background-color: $colorPrincipale;
          color: $whiteColor;
          padding: 5px 25px;
          border-radius: 50px;
          text-decoration: none;
          border: 1px solid $colorPrincipale;
          transition: .3s;
          i{
            margin-right: 15px;
            color: #fff;
            font-size: 14px;
          }
          &:hover{
            background-color: transparent;
            color: $colorPrincipale;
          }
        }
      }
    }
    @media #{$breakpoint-md} {
      .label-desc, .text-long, .btn-tag, .sub-title {
          display: none;
      }
      h1{
        font-size: 22px !important;
      }
    }
    @media #{$breakpoint-xs} {
      .label-desc, .text-long, .btn-tag, .sub-title {
          display: none;
      }
      h1{
        font-size: 15px !important;
      }
      .btn-carousel{
        font-size: 13px;
        padding: 2px !important;
      }
    }
  }
}


/* ------------------- Recomended trending carousel ----------- */
.recomended{
  @media #{$breakpoint-xs} {
    padding-top: 50px;
  }
  @media #{$breakpoint-md} {
    padding-top: 50px;
  }
}
.owl-carousel-4{
  font-family: $fonts;
  .owl-item {

    a{
      text-decoration: none;
      color: $textColor;
      &:hover{
        color: $colorPrincipale;
      img {
          filter: grayscale(1);
          transform: scale(1.2) rotate(7deg);
        }
        .boxs-info {
          background-color: $color1;
        }
      }
    }
    .img-film{
      overflow: hidden;
      border-radius: 10px 10px 0 0;
      img {
        border-radius: 10px 10px 0 0;
        transition: .5s;
      }
    }
  }
  .rating {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: #454545;
      color: #fff;
      padding: 5px 10px;
      font-size: 13px;
      border-radius: 5px;
      i{
        color: #f6cd37;
        margin-right: 10px;
      }
  }
  .boxs-info {
    background-color: $boxColor;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    transition: .5s;
    .title{
      font-weight: 700;
      color: $textColor;
      font-size: 18px;
      font-family: $fonts;
    }
    .view-film {
      color: #8e8e8e;
      display: flex;
      align-items: center;
      font-weight: 500;
      justify-content: space-between;
    }
  }

  .owl-nav{

    @media #{$breakpoint-lg-md}{
      display: block !important;
      position: absolute;
      top: -80px;
      right: 0;
    }
    @media #{$breakpoint-xs}{
      margin-top: 25px;
    }
    &.disabled {
      display: block !important;
      position: absolute;
      top: -80px;
      right: 0;

    }
  }
  .owl-prev, .owl-next {
    background: $color1 !important;
    width: 40px;
    margin-left: 15px;
    border-radius: 15px;
    span {
      font-size: 40px;
      color: $textColor;
    }
    &:focus, &:hover{
      outline: none;
      span {
        color : $colorPrincipale;
      }
    }
  }
}
