*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Baloo Tamma 2', cursive;
}
.row{
  margin: 0 !important;
}
h1, h2, h3, h4{
  font-family: 'Baloo Tamma 2', cursive;
}
.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center
}
.padding-top-30{
  padding-top:30px;
}
.padding-top-40{
  padding-top:40px;
}
.padding-top-50{
  padding-top:50px;
}
.padding-top-60{
  padding-top:60px;
}
.padding-top-70{
  padding-top:70px;
}
.padding-top-80{
  padding-top:80px;
}
.padding-top-90{
  padding-top:90px;
}
.padding-top-100{
  padding-top:100px;
}
main {
  width: 90%;
  float: right;
}




/* responive globale */
@media screen and (max-width: 768px){
  main {
      width: 100%;
      margin-top: 40px;
  }
}
