$colorPrincipale : #ff744f;
$colorSecondo: #3a6582;


$bg-color1: #f2f4f8;


// text & titre colors
$textColor:#6a6969;
$titreColor: #141f28;


// botton colors
$btnColor1 : #ff744f;
// autre colors

$whiteColor: #fff;
$blackColor: #000;
