$colorPrincipale : #ff744f;
$colorSecondo: #3a6582;

$color1 : #16171c;
$color2 : #1f2025;

$bg-color1: #f2f4f8;


// text & titre colors
$textColor:#c7c8cc;
$titreColor: #141f28;


// botton colors
$btnColor1 : #ff744f;
// autre colors

$whiteColor: #fff;
$blackColor: #000;
