$colorPrincipale : #bf4646;
$colorSecondo: #030915;

$color1 : #16171c;
$color2 : #1f2025;

$boxColor: #030915;


// text & titre colors
$textColor:#c7c8cc;
$titreColor: #141f28;


// botton colors
$btnColorPrincipale :#bf4646;
$btnColorBlack :#000000;
$btnColorSecondo : #030915;
// autre colors


$starColor: #f6cd37;
$whiteColor: #fff;
$blackColor: #000;
